<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Synapse.OrdersExample.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Synapse.OrdersExample.app>
            <setting name="RetrieveOrdersUrl" serializeAs="String">
                <value>https://orders-api.com/orders</value>
            </setting>
        </Synapse.OrdersExample.app>
    </userSettings>
</configuration>